<br/>

<div class="page_header">
  <%=_ 'Sprint Monitoring'%>
</div>

<br/>

<div class="demo">

  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Iteration Status</a></li>
      <li><a href="#tabs-2">Daily meeting</a></li>
    </ul>

    <div id="tabs-1">

      <table width="100%" cellspacing="0">

        <tr>

          <td style="border-bottom: 1px solid #BBBBBB;padding-bottom:20px;">
            <label for="milestone_project_id"><%=_ 'Project' %></label>

            <select class="planning_combobox" id="milestone_project_id_2" name="milestone[project_id_2]" onchange="reload_monitoring_project(this.value,0)">
              <%= options_for_user_projects_backlog(session[:id_prj])%>
            </select>            

            <div style="float: right;width:50%;margin-right:20%">
            <div style="width:200px;height:110px;float:left;">

                <fieldset style="width:100%;height:100%;">
                  <legend>Current Iteration</legend>
                  <table>
                    <tr>
                      <td>
                        <label for="iteration_name" style="font-size:11px;font-weight: bold;">Name: </label>
                      </td>
                      <td>
                        <a id="iteration_name" style="color:black;font-size:11px;"><%= @iteracion_actual.name if(!@iteracion_actual.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="beginning_date" style="font-size:11px;font-weight: bold;">Beginning Date: </label>
                      </td>
                      <td>
                        <a id="beginning_date" style="color:black;font-size:11px;"><%= @iteracion_actual.init_date.strftime("%d/%m/%Y") if(!@iteracion_actual.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="due_date" style="font-size:11px;font-weight: bold;">Due Date: </label>
                      </td>
                      <td>
                        <a  id="due_date" style="color:black;font-size:11px;"><%= @iteracion_actual.due_date.strftime("%d/%m/%Y") if(!@iteracion_actual.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label style="font-size:11px;font-weight: bold;padding-left: 0px;">Remaining Days: </label>
                      </td>
                      <td>
                        <label  style="color:black;font-size:11px;"><%=  @remaining_days %></label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label style="font-size:11px;font-weight: bold;padding-left: 0px;">Planified Points: </label>
                      </td>
                      <td>
                        <label id="planified_points"  style="color:black;font-size:11px;"></label>
                      </td>
                    </tr>
                  </table>
                </fieldset>

              </div>
            </div>          

          </td>

        </tr>



        <% if params[:project_id] %>

          <tr>
            <td style="padding-top:15px;">
              <label style="color:black;font-size:15px;font-weight: bold;" for="milestone_name"><%=_ 'Current Iteration: ' %></label>

              <% if !@iteracion_actual.nil? %>

                <label style="text-decoration: none;color:black;font-size:15px;font-style:italic"><%=  @iteracion_actual.name  %></label>
                <br/><br/><br/>

                <!-- Remaining stories -->

                <div style="width:50%;float:left">
                  <fieldset>
                    <legend>Remaining Stories</legend>

                    <table cellspacing="0" width="100%" class="content">
                      <tr>
                        <th style="background-color: #8A2908;color:white;">Name</th>
                        <th style="background-color: #8A2908;color:white;">Points</th>
                        <th style="background-color: #8A2908;color:white;">B.Value</th>
                        <th style="background-color: #8A2908;color:white;">Assigned</th>
                      </tr>

                     <% @open_us.each do |task| %>
                      <tr>
                        <td align="left" style="width: 50%;border-bottom: 1px solid #BBBBBB;border-left: 1px solid #BBBBBB">
                          <%= task.name %>
                        </td>
                        <td align="center" style="border-bottom: 1px solid #BBBBBB">
                          <%= task.total_points %>
                        </td>
                        <td align="center" style="border-bottom: 1px solid #BBBBBB">
                          <%= task.business_value %>
                        </td>
                        <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB">
                          <%= task.owners.map{ |u| u.name }.join(", ") %>
                        </td>
                      </tr>
                     <% end %>
                    </table>


                  </fieldset>
                </div>

                <!-- Closed stories -->

                <div style="width:50%; float:right;">
                  <fieldset>
                    <legend>Closed Stories</legend>

                    <table cellspacing="0" width="100%" class="content">
                      <tr>
                        <th style="background-color: #8A2908;color:white;">Name</th>
                        <th style="background-color: #8A2908;color:white;">Points</th>
                        <th style="background-color: #8A2908;color:white;">B.Value</th>
                        <th style="background-color: #8A2908;color:white;">Assigned</th>
                      </tr>

                      <% @closed_us.each do |task| %>
                        <tr>
                          <td align="left" style="width: 50%;border-bottom: 1px solid #BBBBBB;border-left: 1px solid #BBBBBB">
                            <%= task.name %>
                          </td>
                          <td align="center" style="border-bottom: 1px solid #BBBBBB">
                            <%= task.total_points %>
                          </td>
                          <td align="center" style="border-bottom: 1px solid #BBBBBB">
                            <%= task.business_value %>
                          </td>
                          <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB">
                            <%= task.owners.map{ |u| u.name }.join(", ") %>
                          </td>
                        </tr>
                      <% end %>
                    </table>

                  </fieldset>
                </div>



              <% else %>
                <label style="text-decoration: none;color:red;font-size:14px;font-style:italic">There's no current iteration for this project</label>
              <% end %>

            </td>
          </tr>

        <% else %>

            <tr>
              <td style="width:25%;padding-top:10px;">
                <label style="color:black;font-size:15px;font-weight: bold;" for="milestone_name"><%=_ 'Current Iteration: ' %></label>
                <label style="text-decoration: none;color:red;font-size:14px;font-style:italic">Please select a project</label>
              </td>
            </tr>

        <% end %> <%#*if params[:project_id]%>



        <% if params[:project_id] %>
            <% if !@iteracion_actual.nil? %>

              <tr>
                <td style="padding-top:20px;">
                  <div id="graphics" style="position:relative;">
                    <div style="width:25%;float:left;" id="chart_div" ></div>
                    <div style="width:25%;position:absolute;margin-left:30%;" id="chart_div_2" ></div>
                    <div style="width:25%;position:absolute;margin-left:60%;" id="chart_div_3" ></div>
                  </div>
                </td>
              </tr>

              <tr>
                <td style="padding-top:25px;">
                  <div style="width:50%;float:left" id="chart_div_4" ></div>
                </td>
              </tr>

              
            <% end %>
        <% end %>    

      </table>
    </div>

    <div id="tabs-2">

      <table width="100%" cellspacing="0">

        <tr>
          <td>
            <label for="meeting_project_id"><%=_ 'Project' %></label>
            <select class="planning_combobox" id="meeting_project_id" name="meeting_project_id" onchange="reload_meeting_project(this.value,1)">
              <%= options_for_user_projects_backlog(session[:id_prj])%>
            </select>
          </td>
        </tr>

        <tr>
          <td style="width:40%;padding-top: 25px;">
            <fieldset>
              <legend><%= _'New Meeting entry'%></legend>

              <form class="new_meeting" id="new_meeting" action="/sprint_monitoring/save_meeting" method="post">
                <table>
                  <tr>
                    <% if (!params[:project_id].nil?) %>
                      <td colspan="2">

                      <% if !@iteracion_actual.nil? %>
                        <label style="color:black;font-size:15px;font-weight: bold;" for="milestone_name"><%=_ 'Current Iteration: '+@iteracion_actual.name %></label>
                        <input type="hidden" id="meeting_milestone_id" name="meeting[milestone_id]" value="<%= @iteracion_actual.id  %>"  />
                      <% else %>
                        <label style="color:black;font-size:15px;font-weight: bold;" for="milestone_name"><%=_ 'Current Iteration: None' %></label>
                      <% end %>

                      </td>
                    <% else %>
                      <td colspan="2">
                        <label style="color:black;font-size:15px; font-weight: bold;">Iteration:</label>
                      </td>
                    <% end %>
                  </tr>
       
                  <tr>
                    <td>
                      <br/>
                      <label for="meeting_developer"><%=_ 'Developer' %></label>
                    </td>
                    <td>
                      <br/>
                      <select class="planning_combobox" id="meeting_user_id" name="meeting[user_id]">
                        <%= options_developers_meeting(session[:id_prj],session[:user_id])%>
                      </select>
                    </td>
                  </tr>
         
                  <tr>
                    <td>
                      <label for="meeting_date"><%=_ 'Meeting Date' %></label>
                    </td>
                    <td>
                      <%= text_field 'meeting', 'day', :size => 12, :class=>:datefield%>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top">
                      <label for="done_description"><%=_ 'Done' %></label>
                    </td>
                    <td>                      
                      <%= text_area(:meeting, :done, :rows=> 8) %>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top">
                      <label for="todo_description"><%=_ 'To Do' %></label>
                    </td>
                    <td>
                      <%= text_area 'meeting', 'to_do', :rows => 8 %>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top">
                      <label for="observations_description"><%=_ 'Observations' %></label>
                    </td>
                    <td>
                      <%= text_area 'meeting', 'observation', :rows => 8 %>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2">
                      <%= submit_tag _("Save"), :class => 'finish' %>
                    </td>
                  </tr>

                </table>                                                
              </form>
            </fieldset>
          </td>

          <td style="width:60%;padding-top: 25px;" valign="top">
            <fieldset style="height:100%;">
              <legend><%= _'Previous Meetings'%></legend>

              <table>
                <tr>
                  
                    <% if (!params[:project_id].nil?) %>
                      <td>
                        <label style="color:black;font-size:15px;font-weight: bold;" for="milestone_name"><%=_ 'Iteration' %></label>
                      </td>
                      <td>
                        <%= text_field 'selected', 'iteration', :readOnly => true, :disabled => 'disabled'  %>
                      </td>
                    <% else %>
                      <td>
                        <label style="color:black;font-size:15px; font-weight: bold;">Iteration:</label>
                      </td>
                    <% end %>
                  
                </tr>
              
                <tr>
                  <td>
                    <br/>
                    <label for="meeting_developer"><%=_ 'Developer' %></label>
                  </td>
                  <td>
                    <br/>
                    <select class="planning_combobox" id="previous_meeting_user_id" name="meeting[user_id]" onchange="reload_meeting_developer(this.value,<%= session[:id_prj] %>,1)">
                      <%= options_developers_meeting(session[:id_prj],session[:user_id])%>
                    </select>
                  </td>
                </tr>               

                <tr>
                  <td>
                    <label for="meeting_date"><%=_ 'Meeting Date' %></label>
                  </td>
                  <td>
                    <%= text_field 'previous_meeting', 'day', :size => 12, :class=>:datefield, :onchange => 'load_meeting(this.value)' %>
                  </td>
                </tr>

                <tr>
                  <td valign="top">
                    <label for="done_description"><%=_ 'Done' %></label>
                  </td>

                  <td>                  
                    <%= text_area(:previous_meeting, :done, :rows=> 8,:readOnly => true ) %>
                  </td>

                </tr>

                <tr>
                  <td valign="top">
                    <label for="todo_description"><%=_ 'To Do' %></label>
                  </td>

                  <td>
                    <%= text_area 'previous_meeting', 'to_do', :rows => 8,:readOnly => true %>
                  </td>
                </tr>

                <tr>
                  <td valign="top">
                    <label for="observations_description"><%=_ 'Observations' %></label>
                  </td>

                  <td>
                    <%= text_area 'previous_meeting', 'observation', :rows => 8,:readOnly => true %>
                  </td>
                </tr>

              </table>

            </fieldset>
          </td>
        </tr>

      </table>

    </div>

  </div>

</div>

<%#*<!------------------------- Generando tabs ------------------------>%>

<script type="text/javascript" charset="utf-8">
    jQuery(function() {
      jQuery( "#tabs" ).tabs(
        {
          select: function(event, ui) {
             if (jQuery( "#tabs" ).tabs( "option", "selected") == '1'){
               load_finished_iteration();
             }
          }
        }
      );
    });
</script>


<%#*<!------------------ Verificando cual tab debe seleccionarse ---------->%>

<% if (params[:tab].to_s == "1" ) %>
  <script type="text/javascript" charset="utf-8">
    jQuery(function() {
      jQuery( "#tabs" ).tabs( "option", "selected", 1 );
    });
  </script>
<% end %>


<%#*<!-------------------------- Iniciando Charts --------------------------->%>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript" charset="utf-8">
  google.load("visualization", "1", {packages:["corechart"]});
</script>



<script type="text/javascript">

load_finished_iteration();

function load_finished_iteration(){

  <% if(!@iteracion_actual.nil?) %>

    id_milestone = <%= @iteracion_actual.id %>
    var params = {milestone_id : id_milestone};
    var url = "/sprint_monitoring/completed_stories";

    google.load("visualization", "1", {packages:["corechart"]});

    jQuery.getJSON(url, params, function(data_json) {

//---------------------Completed us graphic------------------------------------
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task');
    data.addColumn('number', 'Quantity');
    data.addRows([
      ["Closed", parseFloat(data_json.closed_stories)],
      ["Remaining", parseFloat(data_json.open_stories)]
    ]);

    var options = {
      height: 200,
      chartArea:{left:30},
      title:'User Stories',
      slices: [{color: '#31B404'},{color: '#DF3A01'}]
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);


 //---------------------Burned points graphic------------------------------------

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task');
    data.addColumn('number', 'Points');
    data.addRows([
      ["Burned", parseFloat(data_json.burned_points)],
      ["Remaining", parseFloat(data_json.remaining_points)]
    ]);

    var options = {
      title: 'Points',
      chartArea:{left:30},
      height: 200,
      slices: [{color: '#31B404'},{color: '#DF3A01'}]
    };

    jQuery("#planified_points").text(parseFloat(data_json.remaining_points)+parseFloat(data_json.burned_points))

    var chart = new google.visualization.PieChart(document.getElementById('chart_div_2'));
    chart.draw(data, options);


//---------------------Business value graphic-----------------------------------

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task');
    data.addColumn('number', 'Points');
    data.addRows([
      ["Added", parseFloat(data_json.added_value)],
      ["Remaining", parseFloat(data_json.remaining_value)]
    ]);

    var options = {
      title:'Business Value',
      height: 200,
      chartArea:{left:30},
      slices: [{color: '#31B404'},{color: '#DF3A01'}]
    };

    /*jQuery("#added_value").text(parseFloat(data_json.added_value))
    jQuery("#remaining_value").text(parseFloat(data_json.remaining_value))*/

    var chart = new google.visualization.PieChart(document.getElementById('chart_div_3'));
    chart.draw(data, options);


//--------------------------Burndown graphic------------------------------------

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Days');
    data.addColumn('number', 'Real');
    data.addColumn('number', 'Ideal');
    var arreglo = <%= @burndown_data %>;
    var arreglo_ideal = <%= @ideal_burndown  %>

    for (i=0;i<arreglo.length;i++){
      if (arreglo[i+1]==-1){
        data.addRows([
          [arreglo[i].toString(),null,arreglo_ideal[i+1]],
        ]);
      }
      else{
        data.addRows([
          [arreglo[i].toString(),arreglo[i+1],arreglo_ideal[i+1]],
        ]);
      }
      i++;
    };

    var options = {
      height: 275,
      title: 'Burndown chart',
      vAxis: {maxValue: <%= @planned_points %>,maxAlternation: 5,minValue:0,title:'Points'},
      hAxis: {title:'Days'},
      legend: {position: 'right'},
      colors:['#31B404','blue']

    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div_4'));
    chart.draw(data, options);

  });

 <% end %>

}

</script>



<script type="text/javascript">
  jQuery(function() {
    jQuery("#meeting_day").datepicker('setDate','<%= @today_date %>' );
  });
</script>

<script type="text/javascript">
  function load_meeting(meeting_date){
    
    user_id = jQuery('#previous_meeting_user_id option:selected').val();
    meeting_day = meeting_date;

    var params = {meeting_day : meeting_day,developer_id : user_id};
    var url = "/sprint_monitoring/load_meeting";

    jQuery.getJSON(url, params, function(data_json) {
      if (data_json.done == '-1'){
        alert("No meeting found for selected user and date")
        jQuery('#previous_meeting_done').val('');
        jQuery('#previous_meeting_to_do').val('');
        jQuery('#previous_meeting_observation').val('');
        jQuery('#selected_iteration').val('');
      }else{
        jQuery('#previous_meeting_done').val(data_json.done);
        jQuery('#previous_meeting_to_do').val(data_json.to_do);
        jQuery('#previous_meeting_observation').val(data_json.observation);
        jQuery('#selected_iteration').val(data_json.iteration);
      }
    });
  }

</script>



  