<style type="text/css">

  #to_do{ list-style-type: none; margin: 0; padding: 0; float: left; background: #E6E6E6; width: 100%; min-height: 40px;}
  #verify{ list-style-type: none; margin: 0; padding: 0; float: left; background: #E6E6E6; width: 100%; min-height: 40px;}
  #progress { list-style-type: none; margin: 0; padding: 0; float: left; background: #F2F2F2; width: 100%; min-height: 40px;}
  #done { list-style-type: none; margin: 0; padding: 0; float: left; background: #F2F2F2; width: 100%; min-height: 40px;}
  
  #to_do li, #progress li, #verify li, #done li { margin: 5px; padding: 5px; font-size: 1.2em; width: 178px; }
  #to_do li img, #progress li img, #verify img, #done img {float:none; border: 0; padding: 0}


</style>

<% if params[:project_id] && !@iteracion_actual[0].nil? %>
<% @user_stories.each do |story| %>
<script type="text/javascript">
  jQuery(function() {
    jQuery( "ul.droptrue_<%=  story.id %>" ).sortable({
      connectWith: "ul.droptrue_<%=  story.id %>",
      <%#*stop: function(event, ui) {%>
        <%#*alert('element: '+jQuery(ui.sender).sortable( "widget" ).name);%>
        <%#*alert('element: '+ jQuery(ui.sender).ui.sortable.attr("class"));%>

      <%#*}%>
        receive: function(event, ui) {
        <%#*alert('element: '+ jQuery(ui.item.input).attr("class"))%>
        <%#*alert('element: '+ jQuery(ui.item).children("input").attr("name"))%>

        <%#*jQuery(this).children("li").children("input").attr("name")%>

         if (jQuery(this).attr("id") == 'to_do'){
          jQuery(ui.item).children("input").attr("name","todo_tasks[]")
         }

         if (jQuery(this).attr("id") == 'progress'){
          jQuery(ui.item).children("input").attr("name","progress_tasks[]")
         }

         if (jQuery(this).attr("id") == 'verify'){
          jQuery(ui.item).children("input").attr("name","verify_tasks[]")
         }

         if (jQuery(this).attr("id") == 'done'){
          jQuery(ui.item).children("input").attr("name","done_tasks[]")
         }
         
      }


    });

  });
</script>
<% end %>
<% end %>

<br/>

<div class="page_header">
  <%=_ 'Taskboard'%>
</div>

<br/>

<table>
  <tr>
    <td>
      <label for="milestone_project_id"><%=_ 'Project' %></label>
      <select class="planning_combobox" id="milestone_project_id_2" name="milestone[project_id_2]" onchange="reload_taskboard(this.value)">
        <%= options_for_user_projects_backlog(session[:id_prj])%>
      </select>
    </td>    
  </tr>

  <tr>

  <% if (!params[:project_id].nil?) %>
    <td colspan="2">
      <br/>
      <label style="color:black;font-size:15px;font-weight: bold;" for="milestone_name"><%=_ 'Current Iteration: ' %></label>
      <% if !@iteracion_actual[0].nil? %>
        <label style="text-decoration: none;color:black;font-size:15px;font-style:italic"><%=  @iteracion_actual[0].name %></label>
      <% else %>
        <label style="text-decoration: none;color:red;font-size:14px;font-style:italic">There's no current iteration for this project</label>
      <% end %>
    </td>
  <% else %>
    <td colspan="2">
      <br/>
      <label style="color:black;font-size:15px; font-weight: bold;">Current Iteration:</label>      
    </td>
  <% end %>

  </tr>
</table>

<br/>
<br/>
<form method="POST" action="/sprint_monitoring/save_taskboard?project_id=<%=  params[:project_id] %>">

<table cellspacing="0" width="100%">
  <tr>
    <th style="width:22%;">Stories</th>
    <th style="width:2%;"> </th>
    <th style="width:19%;">To Do</th>
    <th style="width:19%;">In Progress</th>
    <th style="width:19%;">To Verify</th>
    <th style="width:19%;">Done</th>
  </tr>

  <% if params[:project_id] && !@iteracion_actual[0].nil?%>

    <script type="text/javascript">
      appendActivityPopup("/sprint_monitoring/new_activity", "body", false);
      appendViewRetrospectivePopup("/sprint_monitoring/edit_activity","body",false)
    </script>

    <% @user_stories.each do |us| %>

      <% @todo_tasks = get_todo_activities(us.id) %>
      <% @progress_tasks = get_progress_activities(us.id) %>
      <% @verify_tasks = get_verify_activities(us.id) %>
      <% @done_tasks = get_done_activities(us.id) %>

      <tr>
      
        <td valign="middle" style="border-left: solid 1px #D8D8D8;background-color: #F2F2F2; border-bottom:solid 1px #D8D8D8">
          <label style="font-size:14px;"><%=  us.name %></label>
          <br/>
          <label style="font-size:10px; font-weight: bold;">Assigned to: </label>

          <% if us.owners.size > 0 %>
            <label style="font-style: italic"><%= us.owners.map{ |u| u.name }.join(", ") %></label>
          <% else %>
            <select style="font-size:10px;" class="planning_combobox" name="developer[]">
              <%= options_developers_assign_us(session[:id_prj])%>
            </select>
            <input type="hidden" name="us_dev[]" value="<%= us.id %>"></input>
          <% end %>

          <% if us.status == 1 %>
            <br/>
            <label style="font-size:10px;color: red;">Closed</label>
          <% end %>
        </td>

        <td align="center" valign="middle" style="background-color: #F2F2F2; border-bottom:solid 1px #D8D8D8;border-left: solid 1px #D8D8D8;border-right: solid 1px #D8D8D8">
          <span id="add_activity"><img title="Add new Task" onclick="load_popup(<%= us.id %>,<%= us.project_id %>);" src="/images/add.png" style="margin:0;padding:2px 0 0 0;cursor:pointer"/></span>
        </td>

        <td align="center" valign="top" style="background-color: #E6E6E6;border-bottom: solid 1px #D8D8D8">
          <ul id="to_do" class="droptrue_<%= us.id %> ">
            <% @todo_tasks.each do |to_do| %>
              <li class="ui-state-default" title="<%=  to_do.description %> ">
                <a onclick="load_activity_popup(<%= to_do.id %>,<%= params[:project_id] %>)" style="font-size: 11px;color:black;cursor:pointer;"><%=  to_do.name %></a>
                <br/>
                <a style="text-decoration: none;font-size:10px;">Owner: </a>
                <a style="text-decoration: none;font-style: italic;font-size:10px"> <%= User.find_by_id(to_do.user_id).name if !to_do.user_id.nil?  %>  </a>
                <input type="hidden" name="todo_tasks[]" value="<%= to_do.id %>"></input>
              </li>
            <% end %>
          </ul>
        </td>

        <td align="center" valign="top" style="background-color: #F2F2F2;border-bottom: solid 1px #D8D8D8;border-left: solid 1px #D8D8D8;border-right: solid 1px #D8D8D8">
          <ul id="progress" class="droptrue_<%= us.id %>">
            <% @progress_tasks.each do |prog| %>
              <li class="ui-state-default" title="<%=  prog.description %> ">
                <a onclick="load_activity_popup(<%= prog.id %>,<%= params[:project_id] %> )" style="cursor:pointer;font-size: 11px;color:black"><%=  prog.name %></a>
                <br/>
                <a style="text-decoration: none;font-size:10px;">Owner: </a>
                <a style="text-decoration: none;font-style: italic;font-size:10px"> <%= User.find_by_id(prog.user_id).name if !prog.user_id.nil?  %>  </a>
                <input type="hidden" name="progress_tasks[]" value="<%= prog.id %>"></input>
              </li>
            <% end %>
          </ul>
        </td>

        <td align="center" valign="top" style="background-color: #E6E6E6;border-bottom: solid 1px #D8D8D8">
          <ul id="verify" class="droptrue_<%= us.id %>">
            <% @verify_tasks.each do |verify| %>
              <li class="ui-state-default" title="<%=  verify.description %> ">
                <a onclick="load_activity_popup(<%= verify.id %>,<%= params[:project_id] %> )" style="cursor:pointer;font-size: 11px;color:black"><%=  verify.name %></a>
                <br/>
                <a style="text-decoration: none;font-size:10px;">Owner: </a>
                <a style="text-decoration: none;font-style: italic;font-size:10px"> <%= User.find_by_id(verify.user_id).name if !verify.user_id.nil?  %>  </a>
                <input type="hidden" name="verify_tasks[]" value="<%= verify.id %>"></input>
              </li>
            <% end %>
          </ul>
        </td>

        <td align="center" valign="top" style="background-color: #F2F2F2;border-bottom: solid 1px #D8D8D8;border-left: solid 1px #D8D8D8;border-right: solid 1px #D8D8D8;">
          <ul id="done" class="droptrue_<%= us.id %>">
            <% @done_tasks.each do |done| %>
              <li class="ui-state-default" title="<%=  done.description %> ">
                <a onclick="load_activity_popup(<%= done.id %>,<%= params[:project_id] %> )" style="cursor:pointer;font-size: 11px;color:black"><%=  done.name %></a>
                <br/>
                <a style="text-decoration: none;font-size:10px;">Owner: </a>
                <a style="text-decoration: none;font-style: italic;font-size:10px"> <%= User.find_by_id(done.user_id).name if !done.user_id.nil?  %>  </a>
                <input type="hidden" name="done_tasks[]" value="<%= done.id %>"></input>
              </li>
            <% end %>
          </ul>
        </td>

      </tr>

    <% end %> <!-- @user_stories.each do -->

    <tr>
      <td align="center" colspan="6">
        <br/>
        <%= submit_tag _("Save"), :class => 'finish', :onclick => "saveTaskboard()" %>
        <div id="loadingMessage" style="display: none;">
          <img src="/images/loading.gif"/></div>
      </td>
    </tr>

    <input type="hidden" name="current_iteration" value="<%=  @iteracion_actual[0].id %>"></input>

  <% end %> <!--if params[:project_id] -->

</table>
  
</form>

<script type="text/javascript">

function saveTaskboard(){
    jQuery("#loadingMessage").show()
}
function load_popup(us_id,project_id){

add_activity_popup();
jQuery("#us_id").val(us_id)
jQuery("#project_id").val(project_id)

}

function load_activity_popup(id_activity,project_id){

  add_edit_activity_popup();

  var params = {activity_id : id_activity};
  var url = "/sprint_monitoring/load_activity";
//alert("Name:"+data_json.activity_name+" Desc:"+data_json.activity_description+" activity_id:"+id_activity)
alert("Flag_1")
    jQuery.getJSON(url, params, function(data_json) {
      alert("Flag")
      jQuery('#edit_activity_name').val(data_json.activity_name)
      jQuery('#edit_activity_description').text(data_json.activity_description)
      jQuery('#edit_activity_id').val(id_activity)
      jQuery('#edit_activity_project_id').val(project_id)
      jQuery('#edit_activity_developer').val(data_json.activity_developer)
      
    });
}


</script>







