<br />
<div class="page_header">
  <%#=_ 'Product Backlog - '+ current_task_filter.tasks[0].project.name %>
  <%=_ 'Product Backlog - ' %>
</div>
   
<div id="content">
  <br />
  <%= render(:partial => "task_filters/search_filter", :locals => { :redirect_params => { :tag => params[:tag] }}) %>
  <%= render(:partial => "task_filters/panel") %>

  <div id="groupby" style="display:none">
    <%= select_tag("chngroup", options_for_changegroup, :onChange => "change_group()") %>
  </div>

  <div id="savefilter" style="display:none"></div>

  <%= yield(:backlog_list) %>
  
  <br />
  <br />

  <%= link_to(_("New User Story"),{:controller => "tasks", :action => "backlog", :us_action => "nueva",:project_id =>session[:id_prj]},:class=>'backlog_link') %>

  <a class="backlog_link"> | </a>

  <%= link_to(_("Edit User Story"),{:controller => "tasks", :action => "backlog", :us_action => "edit",:project_id =>session[:id_prj]}, :class=>'backlog_link') %>

  <br />
  <br />
  
  <% if params[:us_action]== "nueva" %>
    <% form_tag({ :action => 'create',:redireccion=>'nueva'}, { :multipart => "true", :id => "taskform" }) do %>
      <% render :partial => "tasks/form" %>
    <% end %>
  <% elsif params[:us_action]== "edit" %>
    <div id="task">
      <%= render_last_task %>
    </div>
  <% end  %>
       
</div>


<td id="side_panel">
  <fieldset style="margin-top:62px;">
    <label>Project</label><select id="project_id" name="project_id" onchange="reload_backlog(this.value)"><%= options_for_user_projects_backlog(session[:id_prj])%></select>
  </fieldset>
  
  <%#  use content_for(:side_panel) to add extra content to this sidebar -%>
  <%#= yield(:side_panel) %>
  <%#= render :partial => "/tags/panel" %>
  
</td>

