<br />
<div class="page_header">
  <%=_ 'Product Backlog' %>
</div>
   
<div id="content">
  <br />
  <%= render(:partial => "task_filters/search_filter", :locals => { :redirect_params => { :tag => params[:tag] }}) %>
  <%= render(:partial => "task_filters/panel") %>

  <div id="groupby" style="display:none">
    <%= select_tag("chngroup", options_for_changegroup, :onChange => "change_group()") %>
  </div>

  <div id="savefilter" style="display:none"></div>

  

  <%= yield(:backlog_list) %>

  <br />
  <br />

  <%= link_to(_("New User Story"),{:controller => "tasks", :action => "backlog", :new_us => "nueva",:project_id =>session[:id_prj]},:class=>'backlog_link') %>

  <a class="backlog_link"> | </a>

  <%= link_to(_("Edit User Story"),{:controller => "tasks", :action => "backlog", :new_us => "edit",:project_id =>session[:id_prj]}, :class=>'backlog_link') %>

  <br />
  <br />
  

  <% if params[:new_us]== "nueva" %>
    <% form_tag({ :action => 'create'}, { :multipart => "true", :id => "taskform" }) do %>
      <% render :partial => "tasks/form" %>
    <% end %>
  <% else %>
    <div id="task">
      <%= render_last_task %>
    </div>
  <% end  %>
       
</div>

<td id="side_panel">
  <br />
  <br />
  <br />
  <br />
  <fieldset>
    <label>Project</label><select id="project_id" name="project_id" onchange="reload_backlog(this.value)"><%= options_for_user_projects_backlog(session[:id_prj])%></select>
  </fieldset>
  <%#  use content_for(:side_panel) to add extra content to this sidebar -%>
  <%#= yield(:side_panel) %>
  <%#= render :partial => "/tags/panel" %>
  
</td>

