<%= error_messages_for 'milestone' %>

<br/>
<div class="page_header">
  <%=_ 'Sprint Planning'%>
</div>
<br/>

<div class="demo">

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">New Iteration</a></li>
		<li><a href="#tabs-2">Sprint Backlog</a></li>
		<li><a href="#tabs-3">Resume</a></li>
	</ul>
	<div id="tabs-1"> 

          <fieldset style="display:inline;width:400px;">
          <legend><%= _'New Iteration'%></legend>

            <%#=  form_tag({:controller => "milestones", :action => "create"}, :redirect_planning => '/sprint_planning/planning') %>
            <form action="/milestones/create?redirect_planning=/sprint_planning/planning" method="post">
            <label>Project</label>
            <select class="planning_combobox" id="milestone[project_id]" name="milestone[project_id]" onchange="reload_planning_backlog(this.value,0)"><%= options_for_user_projects_backlog(session[:id_prj])%></select>

            <label for="milestone_name"><%=_ 'Name' %></label>
            <%= text_field 'milestone', 'name'  %>

            <br/>

            <label for="milestone_init_date"><%=_ 'Begin Date' %></label>
            <%= text_field 'milestone', 'init_date', :size => 12, :class=>:datefield%>

            <br/>

            <label for="milestone_due_at"><%=_ 'Due Date' %></label>
            <%= text_field 'milestone', 'due_at', :size => 12, :class=>:datefield  %>

            <br/>

            <label for="milestone_budget"><%=_ 'Budget ' %></label>
            <%= text_field 'milestone', 'budget', {:size => 12, :readOnly => true} %>

            <br/>

            <label for="color-select"><%=_ 'Roadmap Color' %></label>

            <select class="planning_combobox" id="color-select" name="milestone[color]">
              <% selected_color = @milestone ? @milestone.color : "blue"%>
              <option value="blue" <%= color_is_selected?(selected_color, "blue")%>><%=_ 'Blue' %></option>
              <option value="red" <%= color_is_selected?(selected_color, "red")%>><%=_ 'Red' %></option>
              <option value="yellow" <%= color_is_selected?(selected_color, "yellow")%>><%=_ 'Yellow' %></option>
              <option value="green" <%= color_is_selected?(selected_color, "green")%>><%=_ 'Green' %></option>
            </select>

            <br/>

            <label for="milestone_description"><%=_ 'Description' %></label>
            <%= text_area 'milestone', 'description', :rows => 10 %>

            <br/>

            <%#*<input type = "hidden" id = "project_id" name = "milestone[project_id]">%>

            <%= submit_tag _("Create"), :class => 'finish' %>

          </form>
          </fieldset>

<% if (!@project.nil?) %>
     <div class="sprint_planning_panel">
      <table cellpadding="0" cellspacing="0" width="95%" style="padding-left:1em;">
        <tr>
          <td align="left" class="page_header">            
            <div><%=_ 'Iterations - Project:' %></div>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellpadding="0" cellspacing="0">
              <% if @project.milestones %>
                <%= render :partial => "activities/overall_progress", :locals => { :project => @project } %>
                <% for milestone in @project.milestones.find(:all, :order => "due_at, milestones.name", :include => [:user]) %>
                  <%= render :partial => "roadmap/milestone_row", :locals => { :milestone => milestone } %>
                <% end %>
                <% @completed_milestones = Milestone.count(:conditions => ["project_id = ? AND completed_at IS NOT NULL", @project.id])
                if @completed_milestones.to_i > 0
                %>#
                  <tr>
                    <td colspan=2 align=right class="milestone_completed">
                        <%= link_to _('%d completed milestone', @completed_milestones), :controller => 'milestones', :action => 'list_completed', :id => @project %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr><td>&nbsp;</td></tr>

              <% end %>

            </table>
          </td>
        </tr>
      </table>
    </div>
<% end %>


	</div>
	<div id="tabs-2">

          <table style="width:100%;">
            <tr>
              <td valign="top">              
                  <fieldset style="width:95%;">
                  <legend><%= _'Project'%></legend>
                    <label for="milestone_project_id"><%=_ 'Project' %></label>
                    <select class="planning_combobox" id="milestone_project_id_2" name="milestone[project_id_2]" onchange="reload_planning_backlog(this.value,1)">
                    <%= options_for_user_projects_backlog(session[:id_prj])%>
                    </select>

                    <br/>
                    <br/>
                    
                    <label for="milestone_milestone_id"><%=_ 'Iteration' %></label>
                    <select class="planning_combobox" id="milestone_id" name="milestone[milestone_id]" >
                      <%= options_milestone_sprint_planning(session[:id_prj])%>
                    </select>
                  </fieldset>

                <fieldset style="width:95%;">
                <legend><%= _'Statistics'%></legend>
                <br/>

                  <fieldset style="width:40%;float:left;margin-left: 15px;">
                    <legend><%= _'Developer Stats'%></legend>

                    <label for="milestone_milestone_id"><%=_ 'Developer:' %></label>
                    <%= text_field(:user, :name, :size=> "12", :id => "user_name_auto_complete" ) %>

                    <label id="label_actual_project_1" for="milestone_milestone_id"><%=_ 'Velocity actual project' %></label>
                    <%= text_field 'speed', 'actual',:size => 5  %>

                    <label id="label_prev_project_1" for="milestone_milestone_id"><%=_ 'Velocity Prev. Project' %></label>
                    <%= text_field 'speed', 'prev_project', :size => 5  %>

                    <label id="label_prev_prev_project_1" for="milestone_milestone_id"><%=_ 'Velocity Prev. Project' %></label>
                    <%= text_field 'speed', 'prev_prev_project', :size => 5  %>
                  </fieldset>

                  <fieldset style="width:40%;float:right;margin-right: 15px;">
                    <legend><%= _'Developer Stats'%></legend>

                    <label  for="milestone_milestone_id"><%=_ 'Developer:' %></label>
                    <%= text_field(:user, :name, :size=> "12", :id => "user_name_auto_complete_2" ) %>

                    <label  id="label_actual_project_2" for="milestone_milestone_id"><%=_ 'Velocity actual project' %></label>
                    <%= text_field 'speed', 'actual_2',:size => 5  %>

                    <label id="label_prev_project_2" for="milestone_milestone_id"><%=_ 'Velocity Prev. Project' %></label>
                    <%= text_field 'speed', 'prev_project_2', :size => 5  %>

                    <label id="label_prev_prev_project_2" for="milestone_milestone_id"><%=_ 'Velocity Prev. Project' %></label>
                    <%= text_field 'speed', 'prev_prev_project_2', :size => 5  %>
                  </fieldset>


                </fieldset>
              </td>              


              <td style="width:750px;">
                <div id="backlogWrap" style="width:720px;float:right;">
                  <div id="groupby" style="display:none">
                  <%= select_tag("chngroup", options_for_changegroup, :onChange => "change_group()") %>
                  </div>

                  <%= yield(:planning_backlog_list) %>

                  <button id="saveSprint" type="button" onClick="saveSprint();">Save</button>
                </div>

                <div id="chart_div"></div>

              </td>
            </tr>

          </table>
	</div>
  
	<div id="tabs-3">
		<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
		<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
	</div>
</div>

</div><!-- End demo -->


<script>
	jQuery(function() {
		jQuery( "#tabs" ).tabs();
	});
</script>


<% if (params[:tab].to_s == "1" ) %>

  <script type="text/javascript" charset="utf-8">
    jQuery(function() {
      jQuery( "#tabs" ).tabs( "option", "selected", 1 );
    });
  </script>

<% end %>

<script>
	function saveSprint() {
		var historias;
                var result ='-';
                historias = jQuery( "#sprint_backlog_list" ).jqGrid('getDataIDs');
                

                 for (i=0;i<historias.length;i++){
                        result = result +'-'+historias[i]
                 }

                 iteracion = jQuery('#milestone_id').val();
                 alert("Historias:"+historias+"Iteracion:"+iteracion);

                location.href='/sprint_planning/saveSprint?historias='+ result+'&iteracion='+iteracion;
	};
</script>


<%  if (session[:id_prj]==-1) %>
<script>

jQuery(function() {
          jQuery("#backlog_list").jqGrid("clearGridData", true);
    });


</script>
<% end %>
