<br/>

<div class="page_header">
  <%=_ 'Sprint Closing'%>
</div>

<br/>

<div class="demo">

  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Iteration Closing</a></li>
      <li><a href="#tabs-2">Retrospective Document</a></li>
    </ul>

    <div id="tabs-1">

      <table width="100%" cellspacing="0">
        <tr>

          <td style="width:25%;border-bottom:1px solid #BBBBBB;padding-bottom:20px;">
            <label for="milestone_project_id"><%=_ 'Project' %></label>
            <select class="planning_combobox" id="milestone_project_id_2" name="milestone[project_id_2]" onchange="reload_closing_project(this.value,0)">
              <%= options_for_user_projects_backlog(session[:id_prj])%>
            </select>

            <div style="float: right;width:50%;margin-right:20%">
              <div style="width:200px;height:80px;float:left;">

                <fieldset style="width:100%;height:100%;">
                  <legend>Finished Iteration</legend>
                  <table>
                    <tr>
                      <td>
                        <label for="iteration_name" style="font-size:11px;font-weight: bold;">Name: </label>
                      </td>
                      <td>
                        <a id="iteration_name" style="color:black;font-size:11px;"><%= @finished_iteration.name if(!@finished_iteration.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="beginning_date" style="font-size:11px;font-weight: bold;">Beginning Date: </label>
                      </td>
                      <td>
                        <a id="beginning_date" style="color:black;font-size:11px;"><%= @finished_iteration.init_date.strftime("%d/%m/%Y") if(!@finished_iteration.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="due_date" style="font-size:11px;font-weight: bold;">Due Date: </label>
                      </td>
                      <td>
                        <a  id="due_date" style="color:black;font-size:11px;"><%= @finished_iteration.due_date.strftime("%d/%m/%Y") if(!@finished_iteration.nil?) %></a>
                      </td>
                    </tr>
                  </table>
                </fieldset>

              </div>

              <div style="width:200px;height:80px;float:right;">
                <fieldset style="width:100%;height:100%;">
                  <legend>Next Iteration</legend>
                  <table>
                    <tr>
                      <td>
                        <label for="iteration_name" style="font-size:11px;font-weight: bold;">Name: </label>
                      </td>
                      <td>
                        <a id="iteration_name" style="color:black;font-size:11px;"><%= @next_iteration.name if(!@next_iteration.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="beginning_date" style="font-size:11px;font-weight: bold;">Beginning Date: </label>
                      </td>
                      <td>
                        <a id="beginning_date" style="color:black;font-size:11px;"><%= @next_iteration.init_date.strftime("%d/%m/%Y") if(!@next_iteration.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="due_date" style="font-size:11px;font-weight: bold;">Due Date: </label>
                      </td>
                      <td>
                        <a  id="due_date" style="color:black;font-size:11px;"><%= @next_iteration.due_date.strftime("%d/%m/%Y") if(!@next_iteration.nil?) %></a>
                      </td>
                    </tr>
                  </table>
                </fieldset>
              </div>
            </div>

          </td>                

        </tr>

        
        <tr>
          <td style="padding-top:15px;">
          <label style="color:black;font-size:15px;font-weight: bold;" for="milestone_name"><%=_ 'Finished Iteration: ' %></label>
          <label style="text-decoration: none;color:black;font-size:15px;font-style:italic"><%=  @finished_iteration.name if(!@finished_iteration.nil?) %></label>
          <br/><br/><br/>
          
          <% if params[:project_id] and !@finished_iteration.nil? %>
          

            <div style="width:50%;float:left">
              <fieldset>
                <legend>Remaining Stories</legend>
              <form class="new_meeting" id="new_meeting" action="/sprint_closing/move_stories?project_id=<%= params[:project_id]  %> " method="post">
              <table cellspacing="0" width="100%" class="content">

                <tr>
                  <th style="background-color: #8A2908;color:white;width:40%;">Name</th>
                  <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">Points</th>
                  <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">B.Value</th>
                  <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">Assigned</th>
                  <th title="Return to backlog" style="background-color: #8A2908;color:white;width:10%;font-size:10px;">P.Backlog</th>
                  <th title="Move to next iteration" style="background-color: #8A2908;color:white;width:10%;font-size:10px;">N.Iteration</th>
                </tr>
                
                  <% @remaining_us.each do |task| %>

                  <tr>
                    <td align="left" style="width: 50%;border-bottom: 1px solid #BBBBBB;border-left: 1px solid #BBBBBB">
                      <%= task.name %>
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB">
                      <%= task.total_points %>
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB">
                      <%= task.business_value %>
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB">
                      <%= task.owners.map{ |u| u.name }.join(", ") %>
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB">
                      <input title="Return to backlog" type="radio" checked name="us[<%= task.id %>]" value="0" />
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB">
                      <input title="Move to next iteration" type="radio" name="us[<%= task.id %>]" value="<%= @next_iteration.id %> " />
                    </td>
                  </tr>
                  <input type="hidden" name="story[]" value="<%=  task.id %>" />

                  <% end %>              
                                    
              </table>
              <button id="reassign_tasks" type="submit" style="float:right;margin-top:15px;">Save</button>
              </form>
              </fieldset>
            </div>

            <div style="width:50%; float:right;">

              <fieldset>
                <legend>Closed Stories</legend>

              <table cellspacing="0" width="100%" class="content">

                <tr>
                  <th style="background-color: #8A2908;color:white;width:40%;">Name</th>
                  <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">Points</th>
                  <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">B.Value</th>
                  <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">Assigned</th>
                </tr>

                  <% @closed_us.each do |task| %>

                  <tr>
                    <td align="left" style="width: 50%;border-bottom: 1px solid #BBBBBB;border-left: 1px solid #BBBBBB">
                      <%= task.name %>
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB">
                      <%= task.total_points %>
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB">
                      <%= task.business_value %>
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB">
                      <%= task.owners.map{ |u| u.name }.join(", ") %>
                    </td>
                  </tr>
                  <% end %>

              </table>

              </fieldset>

            </div>

           <% end %>  
          <%#*if params[:project_id]%>

          </td>
        </tr>

        <tr>
          <td style="padding-top:20px;">
            <div id="graphics" style="position:relative;">
              <div style="width:25%;float:left;" id="chart_div" ></div>
              <div style="width:25%;position:absolute;margin-left:30%;" id="chart_div_2" ></div>
              <div style="width:25%;position:absolute;margin-left:60%;" id="chart_div_3" ></div>
            </div>
          </td>
        </tr>

        <tr>
          <td style="padding-top:25px;">
            <div style="width:45%;" id="chart_div_4" ></div>
          </td>
        </tr>

      </table>
    </div>

    <div id="tabs-2">      

      <table width="100%" cellspacing="0">
        <tr>
          <td style="width:25%;padding-top:10px;">
            <label for="milestone_project_id"><%=_ 'Project' %></label>
            <select class="planning_combobox" id="milestone_project_id_2" name="milestone[project_id_2]" onchange="reload_closing_project(this.value,1)">
              <%= options_for_user_projects_backlog(session[:id_prj])%>
            </select>
          </td>
        </tr>

        <tr>
          <td style="width:25%;padding-top:10px;">
            <label style="color:black;font-size:15px;font-weight: bold;" for="milestone_name"><%=_ 'Finished Iteration: ' %></label>
            <label style="text-decoration: none;color:black;font-size:15px;font-style:italic"><%=  @finished_iteration.name if(!@finished_iteration.nil?) %></label>
          </td>
        </tr>

        <% if params[:project_id] and !@finished_iteration.nil? %>


        <tr>
          <td style="width:25%;border-bottom:1px solid #BBBBBB;padding-top:10px;padding-bottom:10px;">            
              <a onclick="load_retrospective_popup(<%= @finished_iteration.id %>,'<%= @finished_iteration.name %>',<%= @finished_iteration.project_id %>);" style="cursor:pointer;font-size:12px;color:blue;">Add Retrospective + </a>            
          </td>
        </tr>

        <tr>
          <td style="width:50%;padding-top:20px;">
            <fieldset style="width:50%;padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;">
              <legend>Previous Retrospectives</legend>
              
              <table style="width:100%;" cellspacing="0" width="100%" class="content">

                <tr>
                  <th style="background-color: #8A2908;color:white;width:5%;">Id</th>
                  <th style="background-color: #8A2908;color:white;width:40%;font-size:10px;">Iteration</th>
                  <th style="background-color: #8A2908;color:white;width:20%;font-size:10px;">Created At</th>
                  <th style="background-color: #8A2908;color:white;width:6%;font-size:10px;">View</th>
                </tr>

                  <% @retrospective.each do |retro| %>
                  <%= retro_iteration = Milestone.find_by_id(retro.milestone_id) %>
                  <tr>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB;border-left: 1px solid #BBBBBB">
                      <%= retro.id %>
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB">
                      <%= retro_iteration.name %>
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB">
                      <%= retro.created_at.strftime("%d/%m/%Y") %>
                    </td>
                    <td align="center" style="border-bottom: 1px solid #BBBBBB;border-left: 1px solid #BBBBBB;">
                      <img title="View Retrospective" onclick="load_view_retrospective_popup('<%= retro_iteration.name %>',<%= retro.id %>)" src="/images/tuneup/magnify.png" style="padding-left:10px;cursor:pointer"/>
                    </td>                    
                  </tr>

                  

                  <% end %>

              </table>
              
            </fieldset>
          </td>
        </tr>

        <% end %>

      </table>

    </div>

  </div>

</div>

<!------------------------- Generando tabs ------------------------>

<script type="text/javascript" charset="utf-8">
    jQuery(function() {
      jQuery( "#tabs" ).tabs(
        {
          select: function(event, ui) {
             if (jQuery( "#tabs" ).tabs( "option", "selected") == '1'){
               load_finished_iteration();
             }
          }
        }
      );
    });
</script>

<!------------------ Verificando cual tab debe seleccionarse ---------->

<% if (params[:tab].to_s == "1" ) %>
  <script type="text/javascript" charset="utf-8">
    jQuery(function() {
      jQuery( "#tabs" ).tabs( "option", "selected", 1 );
    });
  </script>
<% end %>


<!-------------------------- Iniciando Charts --------------------------->

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript" charset="utf-8">
  google.load("visualization", "1", {packages:["corechart"]});
</script>

<script type="text/javascript">

load_finished_iteration();

function load_finished_iteration(){

  <% if(!@finished_iteration.nil?) %>

    id_milestone = <%= @finished_iteration.id %>
    var params = {milestone_id : id_milestone};
    var url = "/sprint_closing/completed_stories";

    google.load("visualization", "1", {packages:["corechart"]});
  
    jQuery.getJSON(url, params, function(data_json) {

//---------------------Completed us graphic------------------------------------
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task');
    data.addColumn('number', 'Quantity');
    data.addRows([
      ["Closed", parseFloat(data_json.closed_stories)],
      ["Remaining", parseFloat(data_json.open_stories)]
    ]);

    var options = {
      height: 200,
      chartArea:{left:30},
      title:'User Stories',
      slices: [{color: '#31B404'},{color: '#DF3A01'}]
    };

    /*jQuery("#completed_stories").text(parseFloat(data_json.closed_stories))
    jQuery("#remaining_stories").text(parseFloat(data_json.open_stories))*/

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    
    
 //---------------------Burned points graphic------------------------------------

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task');
    data.addColumn('number', 'Points');
    data.addRows([
      ["Burned", parseFloat(data_json.burned_points)],
      ["Remaining", parseFloat(data_json.remaining_points)]
    ]);

    var options = {
      title: 'Points',
      chartArea:{left:30},
      height: 200,
      slices: [{color: '#31B404'},{color: '#DF3A01'}]
    };

    jQuery("#burned_points").text(parseFloat(data_json.burned_points))
    jQuery("#remaining_points").text(parseFloat(data_json.remaining_points))
    jQuery("#planified_points").text(parseFloat(data_json.remaining_points)+parseFloat(data_json.burned_points))

    var chart = new google.visualization.PieChart(document.getElementById('chart_div_2'));
    chart.draw(data, options);


//---------------------Business value graphic-----------------------------------

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task');
    data.addColumn('number', 'Points');
    data.addRows([
      ["Added", parseFloat(data_json.added_value)],
      ["Remaining", parseFloat(data_json.remaining_value)]
    ]);

    var options = {
      title:'Business Value',
      height: 200,
      chartArea:{left:30},
      slices: [{color: '#31B404'},{color: '#DF3A01'}]
    };

    jQuery("#added_value").text(parseFloat(data_json.added_value))
    jQuery("#remaining_value").text(parseFloat(data_json.remaining_value))

    var chart = new google.visualization.PieChart(document.getElementById('chart_div_3'));
    chart.draw(data, options);


//--------------------------Burndown graphic------------------------------------

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Days');
    data.addColumn('number', 'Points');
    var arreglo = <%= @burndown_data %>;

    for (i=0;i<arreglo.length;i++){
      if (arreglo[i+1]==-1){
        data.addRows([
          [arreglo[i].toString(),null],
        ]);
      }
      else{
        data.addRows([
          [arreglo[i].toString(),arreglo[i+1]],
        ]);
      }
      i++;
    };

    var options = {
      height: 275,
      title: 'Burndown chart',
      vAxis: {maxValue: <%=  @planned_points %>,maxAlternation: 5},
      colors:['#31B404']

    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div_4'));
    chart.draw(data, options);

  });

 <% end %>

}

</script>

<script type="text/javascript" charset="utf-8">
  
function load_retrospective_popup(iteration_id,iteration_name,project_id){
    
    add_retrospective_popup();
    jQuery("#iteration_id").val(iteration_id)
    jQuery("#project_id").val(project_id)
    jQuery("#finished_iteration").text(iteration_name)
    
}

function load_view_retrospective_popup(iteration_name,retrospective_id){


    appendViewRetrospectivePopup("/sprint_closing/view_retrospective?retrospective_id="+retrospective_id, "body", false);
    jQuery("#retrospective_id").val(retrospective_id)
    jQuery("#finished_iteration_2").text(iteration_name)

    add_view_retrospective_popup();

}

</script>

<script type="text/javascript">
  appendActivityPopup("/sprint_closing/new_retrospective", "body", false);
</script>



