<br/>

<div class="page_header">
  <%=_ 'Sprint Closing - Previous Iterations'%>
</div>

<br/>

<div class="demo">

  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Iteration Closing</a></li>
    </ul>

    <div id="tabs-1">

      <table width="100%" cellspacing="0">

        <tr>

          <td style="width:25%;border-bottom:1px solid #BBBBBB;padding-bottom:20px;">
            <label for="milestone_project_id"><%=_ 'Project' %></label>
            <select class="planning_combobox" id="milestone_project_id_2" name="milestone[project_id_2]" onchange="reload_closing_project_previous_iteration(this.value,0)">
              <%= options_for_user_projects_backlog(session[:id_prj])%>
            </select>

            <br/>
            <br/>

            <label for="milestone_project_id"><%=_ 'Iteration' %></label>
            <select class="planning_combobox" id="milestone_project_id_2" name="milestone[project_id_2]" onchange="reload_closing_iteration_previous_iteration(<%= params[:project_id]  %> ,this.value,0)">
              <%= finished_iteration_options(session[:id_prj],session[:id_milestone])%>
            </select>

            <% if params[:milestone_id] && @actual_retrospective %>
              <br/><br/>
              <a onclick="edit_retrospective_popup(<%= @actual_retrospective.id %>,<%= @finished_iteration.id %>,<%= @finished_iteration.project_id %>)" style="cursor:pointer;font-size:12px;color:blue;">View Retrospective </a>
            <% end %>
              
            <div style="float: right;width:50%;margin-right:20%">
              <div style="width:200px;height:auto;float:left;">

                <fieldset style="width:100%;height:100%;">
                  <legend>Finished Iteration</legend>
                  <table>
                    <tr>
                      <td>
                        <label for="iteration_name" style="font-size:11px;font-weight: bold;">Name: </label>
                      </td>
                      <td>
                        <a id="iteration_name" style="color:black;font-size:11px;"><%= @finished_iteration.name if(!@finished_iteration.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="beginning_date" style="font-size:11px;font-weight: bold;">Beginning Date: </label>
                      </td>
                      <td>
                        <a id="beginning_date" style="color:black;font-size:11px;"><%= @finished_iteration.init_date.strftime("%d/%m/%Y") if(!@finished_iteration.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="due_date" style="font-size:11px;font-weight: bold;">Due Date: </label>
                      </td>
                      <td>
                        <a  id="due_date" style="color:black;font-size:11px;"><%= @finished_iteration.due_date.strftime("%d/%m/%Y") if(!@finished_iteration.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="due_date" style="font-size:11px;font-weight: bold;">Velocity: </label>
                      </td>
                      <td>
                        <a  id="velocity" style="color:black;font-size:11px;"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="due_date" style="font-size:11px;font-weight: bold;">Avg.Velocity(p/day): </label>
                      </td>
                      <td>
                        <a  id="avg_velocity" style="color:black;font-size:11px;"></a>
                      </td>
                    </tr>
                  </table>
                </fieldset>

              </div>

              <div style="width:200px;height:auto;float:right;">
                <fieldset style="width:100%;height:100%;">
                  <legend>Next Iteration</legend>
                  <table>
                    <tr>
                      <td>
                        <label for="iteration_name" style="font-size:11px;font-weight: bold;">Name: </label>
                      </td>
                      <td>
                        <a id="iteration_name" style="color:black;font-size:11px;"><%= @next_iteration.name if(!@next_iteration.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="beginning_date" style="font-size:11px;font-weight: bold;">Beginning Date: </label>
                      </td>
                      <td>
                        <a id="beginning_date" style="color:black;font-size:11px;"><%= @next_iteration.init_date.strftime("%d/%m/%Y") if(!@next_iteration.nil?) %></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="due_date" style="font-size:11px;font-weight: bold;">Due Date: </label>
                      </td>
                      <td>
                        <a  id="due_date" style="color:black;font-size:11px;"><%= @next_iteration.due_date.strftime("%d/%m/%Y") if(!@next_iteration.nil?) %></a>
                      </td>
                    </tr>
                  </table>
                </fieldset>
              </div>
            </div>

          </td>                

        </tr>

        <% if params[:project_id] %>
        <tr>
          <td style="padding-top:15px;">
            <label style="color:black;font-size:15px;font-weight: bold;" for="milestone_name"><%=_ 'Finished Iteration: ' %></label>
            
            <% if !@finished_iteration.nil? %>

              <label style="text-decoration: none;color:black;font-size:15px;font-style:italic"><%=  @finished_iteration.name  %></label>
              <br/><br/><br/>

              <!-- Remaining stories -->

              <div style="width:50%;float:left">
                <fieldset>
                  <legend>Remaining Stories</legend>
                  <form class="new_meeting" id="new_meeting" action="/sprint_closing/move_stories?project_id=<%= params[:project_id]  %> " method="post">
                  <table cellspacing="0" width="100%" class="content">

                    <tr>
                      <th style="background-color: #8A2908;color:white;width:40%;">Name</th>
                      <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">Points</th>
                      <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">B.Value</th>
                      <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">Assigned</th>
                      <th title="Return to backlog" style="background-color: #8A2908;color:white;width:10%;font-size:10px;">P.Backlog</th>
                      <th title="Move to next iteration" style="background-color: #8A2908;color:white;width:10%;font-size:10px;">N.Iteration</th>
                    </tr>
                
                    <% @remaining_us.each do |task| %>

                    <tr>
                      <td align="left" style="width: 50%;border-bottom: 1px solid #BBBBBB;border-left: 1px solid #BBBBBB">
                        <%= task.name %>
                      </td>
                      <td align="center" style="border-bottom: 1px solid #BBBBBB">
                        <%= task.total_points %>
                      </td>
                      <td align="center" style="border-bottom: 1px solid #BBBBBB">
                        <%= task.business_value %>
                      </td>
                      <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB">
                        <%= task.owners.map{ |u| u.name }.join(", ") %>
                      </td>

                      <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB">
                        <% if task.split_status.nil? %>
                          <input title="Return to backlog" type="radio" checked name="us[<%= task.id %>]" value="0" />
                        <% else %>
                          <% if task.split_status == 0 %>
                            <img title="Moved to Product Backlog." src="/images/tick.png" style="padding-left:10px;"/>
                          <% end %>
                        <% end %>
                      </td>

                      <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB">
                        <% if !@next_iteration.nil? %>

                          <% if task.split_status.nil? %>
                            <input title="Move to next iteration" type="radio" name="us[<%= task.id %>]" value="<%= @next_iteration.id %> " />
                          <% else %>
                            <% if task.split_status == 1 %>
                              <img title="Moved to next iteration." src="/images/tick.png" style="padding-left:10px;"/>
                            <% end %>
                          <% end %>
                              
                        <% end %>
                      </td>
                    </tr>
                    <input type="hidden" name="story[]" value="<%=  task.id %>" />

                    <% end %>
                                    
                  </table>
                  
                  
                
                </form>
                </fieldset>
              </div>

              <!-- Closed stories -->

              <div style="width:50%; float:right;">
                <fieldset>
                  <legend>Closed Stories</legend>

                  <table cellspacing="0" width="100%" class="content">

                    <tr>
                      <th style="background-color: #8A2908;color:white;width:40%;">Name</th>
                      <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">Points</th>
                      <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">B.Value</th>
                      <th style="background-color: #8A2908;color:white;width:10%;font-size:10px;">Assigned</th>
                    </tr>

                    <% @closed_us.each do |task| %>

                    <tr>
                      <td align="left" style="width: 50%;border-bottom: 1px solid #BBBBBB;border-left: 1px solid #BBBBBB">
                      <%= task.name %>
                      </td>
                      <td align="center" style="border-bottom: 1px solid #BBBBBB">
                      <%= task.total_points %>
                      </td>
                      <td align="center" style="border-bottom: 1px solid #BBBBBB">
                      <%= task.business_value %>
                      </td>
                      <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB">
                      <%= task.owners.map{ |u| u.name }.join(", ") %>
                      </td>
                    </tr>
                    <% end %>

                  </table>

                </fieldset>
              </div>                           


            <% else %>
              <label style="text-decoration: none;color:red;font-size:14px;font-style:italic">Please select an iteration</label>
            <% end %>

          </td>
        </tr>

        <% else %>
            <tr>
              <td style="width:25%;padding-top:10px;">
                <label style="color:black;font-size:15px;font-weight: bold;" for="milestone_name"><%=_ 'Finished Iteration: ' %></label>
                <label style="text-decoration: none;color:red;font-size:14px;font-style:italic">Please select a project</label>
              </td>
            </tr>
        <% end %> <%#*if params[:project_id]%>


        <% if params[:project_id] %>
            <% if !@finished_iteration.nil? %>

              <tr>
                <td style="padding-top:20px;">
                  <div id="graphics" style="position:relative;">
                    <div style="width:25%;float:left;" id="chart_div" ></div>
                    <div style="width:25%;position:absolute;margin-left:30%;" id="chart_div_2" ></div>
                    <div style="width:25%;position:absolute;margin-left:60%;" id="chart_div_3" ></div>
                  </div>
                </td>
              </tr>

              
              <tr>
                <td style="padding-top:25px;">
                  <div style="width:50%;float:left" id="chart_div_4" ></div>

                  <!-- Team stats -->

                  <div style="float:right;width:45%;">
                  <fieldset>
                    <legend>Team Stats</legend>
                    <table cellspacing="0" class="content" style="width:100%;">
                      <th style="background-color: #8A2908;color:white;font-size:10px;width:40%">Developer</th>
                      <th style="background-color: #8A2908;color:white;font-size:10px;width:30%">Burned Points</th>
                      <th style="background-color: #8A2908;color:white;font-size:10px;width:30%">Avg.Burned Points(p/day)</th>

                      <% @selected_project.users.each do |developer| %>
                
                      <tr>
                        <td style="border-bottom: 1px solid #BBBBBB;border-left: 1px solid #BBBBBB">
                        <%= developer.name %>
                        </td>
                        <td align="center" style="border-bottom: 1px solid #BBBBBB;">
                        <a  id="burned_points_<%= developer.id %>" style="text-decoration: none;color:black;"><%= developer_avg_velocity(developer.id, @finished_iteration.id) %></a>
                        </td>
                        <td align="center" style="border-bottom: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB;">
                        <a id="avg_burned_points_<%= developer.id %>" style="text-decoration: none;color:black;"><%= ((developer_avg_velocity(developer.id, @finished_iteration.id)/@iteration_duration)*10**2).round.to_f / 10**2 %></a>
                        </td>
                      </tr>

                      <% end %>

                    </table>
                  </fieldset>
                  </div>
            
                </td>
              </tr>

            <% end %>
        <% end %>

      </table>
    </div>


  </div>

</div>

<%#*<!------------------------- Generando tabs ------------------------>%>

<script type="text/javascript" charset="utf-8">
    jQuery(function() {
      jQuery( "#tabs" ).tabs(
        {
          select: function(event, ui) {
             if (jQuery( "#tabs" ).tabs( "option", "selected") == '1'){
               load_finished_iteration();
             }
          }
        }
      );
    });
</script>

<%#*<!------------------ Verificando cual tab debe seleccionarse ---------->%>

<% if (params[:tab].to_s == "1" ) %>
  <script type="text/javascript" charset="utf-8">
    jQuery(function() {
      jQuery( "#tabs" ).tabs( "option", "selected", 1 );
    });
  </script>
<% end %>


<%#*<!-------------------------- Iniciando Charts --------------------------->%>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript" charset="utf-8">
  google.load("visualization", "1", {packages:["corechart"]});
</script>

<script type="text/javascript">
 


</script>

<script type="text/javascript">

load_finished_iteration();

function load_finished_iteration(){

  <% if(!@finished_iteration.nil?) %>

    id_milestone = <%= @finished_iteration.id %>
    var params = {milestone_id : id_milestone};
    var url = "/sprint_closing/completed_stories";

    google.load("visualization", "1", {packages:["corechart"]});
  
    jQuery.getJSON(url, params, function(data_json) {

//---------------------Completed us graphic------------------------------------
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task');
    data.addColumn('number', 'Quantity');
    data.addRows([
      ["Closed", parseFloat(data_json.closed_stories)],
      ["Remaining", parseFloat(data_json.open_stories)]
    ]);

    var options = {
      height: 200,
      chartArea:{left:30},
      title:'User Stories',
      slices: [{color: '#31B404'},{color: '#58ACFA'}]
    };

    /*jQuery("#completed_stories").text(parseFloat(data_json.closed_stories))
    jQuery("#remaining_stories").text(parseFloat(data_json.open_stories))*/

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    
    
 //---------------------Burned points graphic------------------------------------

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task');
    data.addColumn('number', 'Points');
    data.addRows([
      ["Burned", parseFloat(data_json.burned_points)],
      ["Remaining", parseFloat(data_json.remaining_points)]
    ]);

    var options = {
      title: 'Points',
      chartArea:{left:30},
      height: 200,
      slices: [{color: '#31B404'},{color: '#58ACFA'}]
    };

    jQuery("#velocity").text(parseFloat(data_json.burned_points))
    result = parseFloat(data_json.burned_points)/<%= @iteration_duration %>
    jQuery("#avg_velocity").text(Math.round(result*100)/100)

    //jQuery("#velocity").text(parseFloat(data_json.remaining_points))
    //jQuery("#velocity").text(parseFloat(data_json.remaining_points)+parseFloat(data_json.burned_points))

    var chart = new google.visualization.PieChart(document.getElementById('chart_div_2'));
    chart.draw(data, options);


//---------------------Business value graphic-----------------------------------

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task');
    data.addColumn('number', 'Points');
    data.addRows([
      ["Added", parseFloat(data_json.added_value)],
      ["Remaining", parseFloat(data_json.remaining_value)]
    ]);

    var options = {
      title:'Business Value',
      height: 200,
      chartArea:{left:30},
      slices: [{color: '#31B404'},{color: '#58ACFA'}]
    };

    /*jQuery("#added_value").text(parseFloat(data_json.added_value))
    jQuery("#remaining_value").text(parseFloat(data_json.remaining_value))*/

    var chart = new google.visualization.PieChart(document.getElementById('chart_div_3'));
    chart.draw(data, options);


//--------------------------Burndown graphic------------------------------------

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Days');
    data.addColumn('number', 'Real');
    data.addColumn('number', 'Ideal');
    var arreglo = <%= @burndown_data %>;
    var arreglo_ideal = <%= @ideal_burndown  %>
    
    for (i=0;i<arreglo.length;i++){
      if (arreglo[i+1]==-1){
        data.addRows([
          [arreglo[i].toString(),null,arreglo_ideal[i+1]],
        ]);
      }
      else{
        data.addRows([
          [arreglo[i].toString(),arreglo[i+1],arreglo_ideal[i+1]],
        ]);
      }
      i++;
    };


    var options = {
      height: 275,
      title: 'Burndown chart',
      vAxis: {maxValue: <%= @planned_points %>,maxAlternation: 5,minValue:0,title:'Points'},
      hAxis: {title:'Days'},
      legend: {position: 'right'},
      colors:['#31B404','blue']

    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div_4'));
    chart.draw(data, options);

  });

 <% end %>

}

</script>

<%#*<!---------------------- Funciones para cargar popups -------------------->%>

<script type="text/javascript" charset="utf-8">
  
function new_retrospective_popup(iteration_id,iteration_name,project_id){

    add_retrospective_popup();
    jQuery("#iteration_id").val(iteration_id)
    jQuery("#project_id").val(project_id)
    jQuery("#finished_iteration").text(iteration_name)

}

function view_retrospective_popup(id_iteration,id_retrospective){

    add_view_retrospective_popup();

    var params = {retrospective_id : id_retrospective,iteration_id : id_iteration};
    var url = "/sprint_closing/load_retrospective";

    jQuery.getJSON(url, params, function(data_json) {
      jQuery('#retrospective_observation_2').val(data_json.retrospective_obs)
      jQuery('#retrospective_date_2').text(data_json.retrospective_date)
      jQuery('#finished_iteration_2').text(data_json.iteration_name)
      
    });

}

function edit_retrospective_popup(id_retrospective,id_iteration,project_id){

    add_edit_retrospective_popup();

    var params = {retrospective_id : id_retrospective,iteration_id : id_iteration};
    var url = "/sprint_closing/load_retrospective";

    jQuery.getJSON(url, params, function(data_json) {
      jQuery('#retrospective_observation_3').val(data_json.retrospective_obs)
      jQuery('#retrospective_date_3').text(data_json.retrospective_date)
      jQuery('#finished_iteration_3').text(data_json.iteration_name)
      jQuery('#retrospective_edit_id').val(id_retrospective)
      jQuery("#project_edit_id").val(project_id)
    });

}

</script>

<script type="text/javascript">
  appendActivityPopup("/sprint_closing/new_retrospective", "body", false);
  appendViewRetrospectivePopup("/sprint_closing/view_retrospective", "body", false);
  appendEditRetrospectivePopup("/sprint_closing/edit_retrospective", "body", false);
</script>



