<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag(
        "jquery",
      "jquery.cookie",
      "jquery.tooltip",
      "jquery-ui",
      "jquery.layout",
      "ui.multiselect",
      "jqgrid.i18n/grid.locale-en",
      "jquery.jqGrid.min",
      "jquery.autogrow",
      "slimbox2",
      "json2",
      "rails",
      "application",
      "task",
      "trigger",
      "filter",
      "template",
      "project_file",
      "widget",
      :cache => "false"
    ) %>

    <%= javascript_include_tag(
      "wizard/jquery.stepy",
      "wizard/jquery.validate.min"
    )%>

    <%= stylesheet_link_tag("jquery.stepy.css")%>
    
    <%= javascript_include_tag "fullcalendar.min" %>

    <%= yield :head %>

    <% if controller.controller_name == "roadmap" %>
      <%= javascript_include_tag 'http://simile.mit.edu/timeline/api/timeline-api.js' -%>
      <%#= javascript_include_tag 'http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js' -%>
      <%= javascript_include_tag 'prototype' -%>
    <% end %>

    <%= javascript_include_tag 'jquery.pnotify' %>
    

    <% if ['activities'].include? controller.controller_name %>
      <!--[if IE]><%= javascript_include_tag "excanvas" %><![endif]-->
        <%= javascript_include_tag "builder", "portal", "flotr" %>
    <% end %>

    <% if ['tasks', 'project_files', 'projects', 'companies', 'clients', 'properties'].include? controller.controller_name %>
        <%= javascript_include_tag 'jquery.form', 'jquery.remotipart' %>
    <% end %>

    <% if ['schedule'].include? controller.controller_name %>
        <%= javascript_include_tag 'date', 'jquery.ganttView' %>
    <% end %>

    <%= stylesheet_link_tag(
      "jquery-ui",
      "slimbox2",
      "application",
      "jquery.tooltip",
      "ui.multiselect",
      "ui.jqgrid",
      "fullcalendar",
      "jquery.pnotify.default",
      "jquery.ganttView",
      :cache => false
    ) %>

    <%= auto_discovery_link_tag(:rss, {:controller => 'feeds', :action => 'rss', :id => current_user.uuid }) %>

    <% if (CONFIG[:server][:production].to_s != "0") %>
      <script src="<%=("http://"+CONFIG[:server][:production]+":8080/application.js")%>" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript" charset="utf-8">
        var jug = new Juggernaut;
      </script>
    <%end%>

    <%= csrf_meta_tag %>

    <title><%= $CONFIG[:productName] %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <%
     @internal = current_user.company.internal_customer
           if !@internal.nil? && !@internal.css.nil? && @internal.css.length > 0
    %>
            <style type="text/css">
                <%= @internal.css %>
            </style>

    <% end %>

    <script type="text/javascript">
          jQuery.jgrid.no_legacy_api = true;
          jQuery.jgrid.useJSON = true;
    </script>

    <script type="text/javascript">
      // Ugly, yes, but gets the job done.
      jQuery(document).ajaxError(function(event, request, settings){
        // Only do redirect on authentication error
        if (request.status == '401') {
          var url = '<%= new_user_session_url %>';
          document.location.href = url;
        }
      });
    </script>

    <% if controller.controller_name == "planning_poker" && controller.action_name == "table" %>
      <%= javascript_include_tag 'jquery.flip.min.js' -%>
      <script type="text/javascript">
        function desconectar_jug(){
          var url = "/planning_poker/ajax_exit_game";
          var params = {game: <%= @game.id.to_s%>, user: <%= current_user.id %> };
          jQuery.get(url, params, function(data){
            alert ('data');
          });
        }
      </script>
    <% end %>

    <% if controller.controller_name == "tasks" && controller.action_name == "backlog"%>
      <%= javascript_include_tag 'backlog_list.js'-%>
    <% end %>

    <% if controller.controller_name == "sprint_planning" && controller.action_name == "planning"%>
      
      <%= javascript_include_tag 'sprint_planning_product_backlog.js'-%>
    <%= javascript_include_tag 'sprint_planning_sprint_backlog.js'-%>
    <% end %>

    <% if controller.controller_name == "tasks" && controller.action_name == "list"%>
      <%= javascript_include_tag 'tasklist.js' -%>
    <% end %>

  </head>
    <body
      <% if controller.controller_name == "planning_poker" && controller.action_name == "table"%>
      onunload="desconectar_jug();"<% end %>>
      
    <div id="page_header">
      <div id="loading">
        <%= image_tag('spinner.gif', :border => 0) %>
      </div>
      <%= render(:partial => "layouts/menu") %>
      <%= render(:partial => "layouts/tabmenu") %>
      <%= render(:partial => "layouts/notice") %>
    </div>
    <table id="main-table">
      <tr>
        <td valign="top" id="main_col">
          <%= yield :layout %>
        
        </td>
      </tr>
    </table>

    <%#*<div id="contact">%>
        <%= link_to "[Admin]", :controller => "admin", :action => "index" if current_user.admin == 10 %>
    <%#*</div>%>

    <script type="text/javascript" language="javascript" charset="utf-8">
      // <![CDATA[
      var userId=<%= current_user.id %>;
      var useTooltips=<%= current_user.option_tooltips.to_i %>;
      var userDateFormat="<%= current_user.dateFormat %>";
      // ]]>
    </script>
  </body>
</html>
